/*CSS DOCUMENT*/
@charset "UTF-8";

/*Hay algo que está fallando con el tema de los márgenes pero no entiendo qué es, a veces la pagina se come una partecita del contendio, pero cierro la ventana y está todo okay, al rato pasa lo mismo, fresco y se ve mal, cierro la pagina la vuelvo a abrir y está bien*/

/*lo importante es que funcione bien desde github pages, por mi parte no veo ese problema*/

@font-face {
    font-family: "dooType-classic";
    src: url("fonts-nuñez-rodrigo-tp1/dooType\ -\ Encorpada\ Classic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "doo-type-italic-semibold";
    src: url("fonts-nuñez-rodrigo-tp1/dooType\ -\ Encorpada\ Classic\ SemiBold\ Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

* {
    font-family: "cardo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    line-height: 2.5rem;
    text-wrap-style: balance; /*no va style, esto es corrección vieja!!*/
    text-align: center;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

em {
    font-family: "cardo", serif;
    font-style: italic;
}

hgroup p em {
    font-weight: bold;
}

p a {
    display: inline;
    text-align: left;
}

p strong {
    font-family: 'Cardo', serif;
    font-weight: 700;
}

img {
    border-radius: 25px;
}

.little-stars {
    background-image: url("img/poise_little_stars.png");
    background-position: center;
    background-repeat: repeat;
    background-size: 60vw;
    min-height: 10vh;
    height: auto;
    border: 3px;
    padding: 1px;
    margin-top: 5px;
    margin-bottom: 0px;
}

body {
    background-color: #f0d0dc;
    width: 100%; /*raro, en general se aplica este width cuando hay flexbox que lo modifique y tu body no tiene esto*/
    margin: 0px; /*ya lo declaraste en el * no repitas!*/
    padding-left: 0px; /*no repitas!*/
    overflow-x: hidden; /*no deberías por qué utilizar esta propiedad todavía porque es arreglarlo con alambre, fijate que se arregla quitando el width del h3*/
}

header {
    line-height: 6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0.5px;
}

nav {
    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.contendor {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2px;
}

main { /* guarda que muchas de estas propiedades que aplicás no están aplicando cambios*/
    display: flex;
    align-items: auto; /*esta propiedad no existe*/
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*Intenté hacer lo de la imagen, hasta busqué en internet, pero no pude hacer lo de "flex:1" porque me lo deforma y tengo bien las proporciones de la imagen. Algo que tampoco me aparece como en los videos es ese link que sale de las imagenes en el inspector, busqué también en internet pero no encontré respuesta clara, pero si abría otro panel me mostraba la proprción de la imagen y los valores eran esos que le coloqué en el html*/

/*puede ser por el navegador, en general está bueno trabajar con chrome que tiene esas opciones, y después usar otros para revisar  cómo se ve el contenido*/

h1 {
    display: flex; /*las propiedades de flex se aplican únicamente a cajas contenedoras de más de un elemento y no a textos*/
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    font-family: "dooType-classic", serif;
    font-weight: normal;
    font-size: 7vw;
    border: 3px;
    padding: 1px;
    margin: 30px;
}

hgroup {
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap;
    margin-bottom: 7rem;
    align-items: center;
    justify-content: center;
}

.parrafos-intro {
    flex: 1; /*no produce cambios*/
    display: flex;
    max-width: 470px;
    min-width: 470px; /*esto es un problema porque impedís que se achique en una pantalla por ej de celular, y poniendo el mísmo límite del máximo estás haciendo lo mismo que una medida fija*/
    flex-wrap: wrap;
    gap: 50px;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    background-image: url(img/poise_little_stars_p1.jpg);
    margin: 40px;
    border-radius: 25px;
}

p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    text-wrap-style: balance; /*!!!!*/
    max-width: 700px;
    min-width: auto;
    border: 3px;
    padding: 8px;
    margin: 10px;
    margin-left: 25px;
    text-align: center;
}

.secciones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly; /*guarda con esta propiedad porque en pantallas muy grandes te hace espacios confusos, mejor usar gap y que esto esté centrado*/
    align-items: stretch; /*no funciona*/
    align-content: center; /*no funciona*/
    text-align: left; /*no funciona*/
    width: 100%; 

    section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        background-image: url(img/cutie-sparkling.gif);
        background-position: center;
        background-repeat: repeat;
        background-size: 50%;
        width: 35%; /*este ancho te va a traer problemas a futuro con mobile porque no es el mismo el 35% de una compu que el de un celular, acá sí va max-width*/
        padding: 30px;
        margin: 20px;
        background-color: #f2f5dd;
        box-shadow: 7px 8px 0px 2px #000000c9;
        ;
        border-radius: 25px;
        min-width: 25%;
    }

    ul {
        display: flex; /*no genera cambios nada de flex*/
        flex-direction: column;
        align-items: flex-start;
    }
}

h2 {
    font-family: "doo-type-italic-semibold", serif;
    font-weight: normal;
    font-size: 2.1rem;
    line-height: 1rem;
    text-align: center; /*guarda que estás centrando todos los h2 pero en el resultado final no tenés nada centrado por la forma en que aplicás flex, acá hay una contradicción*/
    color: #004855;
    border: 3px;
    padding: 2px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 8px  /*falta cerrar!*/
}

ul {
    li {
        color: #3d0233;
        line-height: 1.6rem;
        text-align: left;
        text-wrap-style: balance; /*!!!!*/
        border: 5px;
        padding-left: 19px;
        max-width: 95%;
        margin-left: 20px;
        list-style-type: " ✦";
    }
}

h3::before {
    content: "";
    background-image: url("img/icono_estrellita_violetta.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    vertical-align: middle;
}

h3 {
    font-family: "doo-type-italic-semibold", serif;
    font-weight: normal;
    font-size: 2.1rem;
    line-height: 1rem;
    text-align: left;
    color: #330055;
    border: 3px;
    padding: 2px;
    padding-bottom: 35px;
    padding-top: 8rem;
    margin-left: 8px; /*acá el problema es la normalización de las medidas, es decir, si vas a usar paddings y margins con rem o px, no veo mal el rem porque se aplica a algo tipográfico, pero padding y margin comparten tamaño de caja*/
    width: 100%;
}

#galeria-de-fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
    gap: 30px;
    margin-left: 40px; /*estás usando esta propiedad para centrar, eso está mal*/
    padding: 2px;
}

.simulador {
    background-image: url(img/ver-mas.gif);
    border-radius: 25px;
    width: 210px; 
    height: 210px;
    font-family: "dooType-classic", serif;
    font-weight: normal;
    color: #c70748;
    text-shadow: 3px 3px 8px white;
    font-size: 35px;
    text-align: center;
    border: 3px;
    padding: 9px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: auto;
    padding: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

#entrevista-rodri-poise {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    min-width: 300px; /*es extraño usar el min-width porque es un límite a lo más pequeño y en general el contenido tiene a estirarse todo lo posible en el espacio, de hecho si lo quito esta propiedad no hace nada*/
    margin-right: 30px;
}

h4 {
    font-family: "dooType-classic", serif;
    font-weight: normal;
    font-size: 13vw;
    line-height: 13vw;
    color: #e4e4f0;
    text-shadow: 4px 3px 8px #0f289b;
    text-align: left;
    border: 3px;
    padding: 9px;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 40px;
    padding-bottom: 20px;
    max-width: 75%;
}

.copete_centrado {
    font-family: "cardo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    line-height: 1rem;
    color: rgb(255, 255, 255);
    text-wrap-style: balance;
    text-align: center;
    max-width: fit-content;
    text-decoration: none;
    margin: auto;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.copete_centrado strong {
    font-weight: 400;
}

.copete_centrado em {
    font-weight: 400;
    font-style: italic;
}

.pista-background {
    background-image: url("img/pista.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 50vw;
    height: auto;
    border: 3px;
    padding: 1px;
    margin-left: calc(-20vw + 20%); /*por lo que veo esto lo estás usando para quitar los margins, no es más conveniente que el margin sea de cero para no enroscarse?*/
    margin-right: calc(-20vw + 20%);
    margin-top: 5px;
    margin-bottom: 20px;
}

p {
    line-height: 1.6rem;
    text-wrap-style: balance;
    max-width: 700px;
    min-width: auto; /*mucho min-width usas y no está bien, no debería ser necesario*/
    border: 3px;
    padding: 8px;
    margin: 5px;
    margin-left: 25px;
    text-align: left;
}

.subtitulos-de-nota {
    font-family: "doo-type-italic-semibold", serif;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 1rem;
    text-align: left;
    color: #2e000f;
    border: 3px;
    padding: 2px;
    padding-bottom: 13px;
    padding-top: 25px;
    margin-left: 30px
}

figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    gap: px; /*no dejes cosas vacías!!*/

}

.epigrafe-de-entrevista {
    display: flex;
    font-family: "cardo", serif;
    color: #424242;
    font-size: 0.8rem;
    line-height: 1.1rem;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 15px;
    max-width: 20%;
}

footer {

    #inmaculate {
        background-image: url(img/fotter-stars.gif);
        background-position: center;
        background-repeat: repeat;
        margin: 10px auto;
        padding: 1px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    h2 {
        font-family: "dooType-classic", serif;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 1.5rem;
        text-align: center;
        color: #000000;
        padding: 3px;
        padding-top: 10px /*falta cerrar!*/
    }

    ul {
        padding-left: 0;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 25px;

        li {
            list-style: none;
            text-align: center;
            padding-left: 0;
            margin-left: 0;
        }
    }

    p {
        font-family: "cardo", serif;
        font-weight: 400;
        font-size: 0.7rem;
        font-style: italic;
        text-align: center;
        align-self: center;
        width: 100%;
        margin-left: 0;
    }
}